<%# optional f (form) for quantity changing %>

<div class="row">
  <div class="small-4 small-offset-2 columns"><strong>Item Name</strong></div>
  <div class="small-2 columns"><strong>Price</strong></div>
  <div class="small-2 columns"><strong>Quantity</strong></div>
  <div class="small-2 columns"><strong>Subtotal</strong></div>
</div>


<% session[:cart].each do |item_id, quantity| %>
  <% item = Item.find(item_id) %>

  <div class="row">
    <div class="small-2 columns">
      <%= render partial: 'partials/item_image', locals: {item: item} %>
    </div>

    <div class="small-4 columns">
      <%= link_to item.name, item %>
    </div>

    <div class="small-2 columns">
      <%= number_to_currency(item.current_price) %>
    </div>

    <div class="small-2 columns">
      <% if defined?(f) %>
        <%= f.input item_id.to_sym, label: false, input_html: {value: quantity, type: 'number'} %>
      <% else %>
        <%= quantity %>
      <% end %>
    </div>

    <div class="small-2 columns">
      <%= number_to_currency(item.current_price * quantity.to_i) %>
    </div>
  </div>
<% end %>