<h6><strong>Magical Admin Powers</strong></h6>

<ul class="side-nav">
  <li><%= link_to "Baking", baker_path, class: current_path?(baker_path) %></li>
  <li><%= link_to "Shipping", shipper_path, class: current_path?(shipper_path) %></li>

  <li class="divider"></li>

  <li><%= link_to "Items", items_path, class: current_path?(items_path) %></li>
  <li><%= link_to "Orders", orders_path, class: current_path?(orders_path) %></li>

  <li class="divider"></li>

  <li><%= link_to "Users", users_path, class: current_path?(users_path) %></li>
  <li><%= link_to "Customers", customers_path, class: current_path?(customers_path) %></li>
  <li><%= link_to "Addresses", addresses_path, class: current_path?(addresses_path) %></li>
 
</ul>