<%= simple_form_for @user do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :role, collection: ['admin', 'baker', 'shipper'] %>
    <%= f.input :active %>


    <div class="form-actions">
      <%= f.submit nil, :class => 'button small' %>
      <%= link_to 'Cancel', users_path, :class => 'button small secondary' %>
    </div>
  </fieldset>
<% end %>