<%= simple_form_for @customer, html: { class: 'form-horizontal' } do |customer_form| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Customer</legend>

    <%= customer_form.input :first_name, input_html: {class: "avg"} %>
    <%= customer_form.input :last_name, input_html: {class: "avg"} %>
    <%= customer_form.input :phone, input_html: {class: "avg"}, required: true %>
    <%= customer_form.input :email, input_html: {class: "avg"}, required: true %>


    <%= customer_form.simple_fields_for :user do |user_form| %>
      <%= user_form.input :username %>

      <%= user_form.input :password %>
      <%= user_form.input :password_confirmation %>

      <% if logged_in? && current_user.role?(:admin) %>
        <%= user_form.input :active %>
      <% end %>
    <% end %>

    <div class="form-actions">
      <%= customer_form.submit nil, :class => 'button small', value: 'Create Account' %>

      <% path = (logged_in? && current_user.role?(:admin)) ? customers_path : root_path %>
      <%= link_to 'Cancel', path, :class => 'button small secondary' %>
    </div>
  </fieldset>
<% end %>