<% if orders.empty? %>
  <h4>No Orders</h4>
<% else %>
  
    <% is_admin = current_user.role?(:admin) %>
    <% customer = orders.first.customer %>

    <h1><%= is_admin ? link_to("#{customer.proper_name}'s", customer) : 'Your' %> Orders</h1>

    <% orders.each do |o| %>
      <div class="panel <%= 'callout' unless all_shipped?(o) %>">

        <%= render partial: 'order_header', locals: {order: o} %>

        <%= render partial: 'order_items', locals: {order: o} %>

      </div>
    <% end %>
    <%= will_paginate orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
