<div class="row order_header">

  <div class="small-3 columns">
    <h3><strong><%= all_shipped?(order) ? 'Delivered' : 'Shipping' %></strong></h3>
  </div>

  <div class="small-3 columns">
    <p><strong>Order placed</strong> <br/><%= print_date(order.date) %></p>
  </div>

  <div class="small-3 columns">
    <p>
      <strong>Shipped to</strong> <br/>
      <%= order.address.recipient %>
    </p>
  </div>

  <div class="small-3 columns">
    <p>
      <%= order.address.street_1 %> <br/>
      <%= raw("#{order.address.street_2}<br/>") if order.address.street_2 %>
      <%= order.address.city %> <br/>
      <%= "#{order.address.state}, #{order.address.zip}" %>
    </p>
  </div>

</div>
