<%= simple_form_for @order do |f| %>
<% if @order.errors.any? %>
  <%= @order.errors.full_messages.each {|m| m} %>
<% end %>

  <% addresses =  current_user.customer.addresses.active %>

  <% if addresses.empty? %> 
    <h4 class="extra_margin"><strong>No addresses found</strong></h4>
    <%= link_to 'Add a shipping address', addresses_path, class: 'button' %>
  <% else %>
    <h4 class="extra_margin"><strong>Select a shipping address</strong></h4>

    
    <% addresses.each_with_index do |a, index| %>
      <% first_in_row = (index % 3 == 0) %>
      <% last_in_row = (index % 3 == 2) %>
      <% last_address = (addresses.size-1 == index) %>

      <% if first_in_row %>
        <div class="row" data-equalizer="address">
      <% end %>      
        <div class="small-4 columns">
          <div class="row">
            <%= render partial: 'addresses/address_card', locals: {a: a, equalizer: true} %>
          </div>

          <div class="row">
            <div class="small-7 columns">
              <%# f.input :address, as: :radio_buttons, label: 'Use this address: ' %>
              <%# radio_button "order", "address", "#{a.id}" %>
              <%= label_tag 'order_address_id', 'Ship to this address', class: 'inline' %>
              <%= radio_button_tag 'order[address_id]', "#{a.id}", (index == 0 ? true : false) %>
            </div>
          </div>
        </div>

      <% if last_in_row || last_address %>
        </div>
      <% end %>
    <% end %>
  
  <% end %>

  <hr>

  <div class="row">

    <div class="small-8 columns">
      <h4 class="extra_margin"><strong>Order Summary</strong></h4>
      <%= render partial: 'shopping/cart_items' %>
    </div>

    <div class="small-4 columns">
      <div class="panel">
        <h4 class="extra_margin"><strong>Payment Information</strong></h4>
          
        <%= render partial: 'shopping/form', locals: {f: f} %>
      </div>
    </div>
  </div>

<% end %>