
<h1>Address Book</h1>
<%= link_to "Add Address", new_address_path, class: 'button tiny' %>

<div class="row" data-equalizer>

<% addresses.each do |a| %>
  <div class="small-4 columns">

    <%= render partial: 'address_card', locals: {a: a} %>

    <%= link_to "Edit", edit_address_path(a), class: 'button small secondary' %>
    
    <% if a.active %>
      <%= link_to "Disable", deactivate_address_path(a.id), class: 'right' %>
    <% else %>
      <%= link_to "Enable", activate_address_path(a.id), class: 'right' %>
    <% end %>
  </div>
<% end %>
</div>


<%= link_to "Add Address", new_address_path, class: 'button tiny' %>
