<div class="small-10 columns small-centered">
  <div class="small-4 columns">
    <h3>Price History</h3>
    <table>
      <thead>
        <tr>
          <th>Price</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>

      <tbody>
        <% item.item_prices.chronological.order(created_at: :desc).each do |price| %>
          <tr>
            <td><%= number_to_currency price.price %></td>
            <td><%= print_date price.start_date %></td>
            <td><%= print_date price.end_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>



  <div class="small-4 columns end">
    <%= simple_form_for new_price, 
        url: item_path(item), 
        method: 'patch' do |f| %>
      <%= f.input :item_id, as: :hidden, input_html: { value: item.id } %>
      <%= f.input :start_date, as: :hidden, input_html: { value: Date.current } %>
      <%= f.input :price, label: 'Item Price', input_html: { placeholder: '$0.00'} %>
      <%= f.button :submit, value: 'Change item price', class: 'expand' %>
    <% end %>


    <%= link_to(edit_item_path(item), class: 'button small expand') do %>
      &nbsp;Edit&nbsp;
    <% end %>
    <% text = ( item.active ? "Deactivate" : "Activate" ) %>
    <% bool = ( item.active ? false : true ) %>

    <%= link_to text, item_path(item: {active: bool}, id: item.id), method: :patch, class: "button secondary small expand" %>
    <%= button_to "Delete", item, method: 'delete', class: 'button small alert expand', disabled: !item.order_items.shipped.empty? %>
  </div>


</div>